* {
  font-family: "Sen", sans-serif;
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}
.green {
  background-color: #51d400;
}

.yellow {
  background-color: #ffd62a;
}

.purple {
  background-color: #b02afe;
}