body {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5em;
  margin: 0px;
  box-sizing: border-box;
  background: url("../img/bg.jpg") fixed;
  color: white;
  /*   word-wrap: break-word; */
}

header {
  font-family: "Abril Fatface", cursive;
  position: relative;
  width: 1280px;
  height: 400px;
  margin: 0 auto;
  /* border: 1px dashed pink; */
  background-image: url("../img/anakin.jpg");
  background-size: 100%;
  color: white;
}
.hi1 {
  /* 230x26 */
  position: absolute;
  left: 290px;
  top: 240px;
  font-family: inherit;
  font-size: 35px;
}
.hi2 {
  /* 611x54 */
  position: absolute;
  left: 290px;
  top: 280px;
  font-family: inherit;
  font-size: 72px;
  line-height: 1;
}

main {
  width: 700px;
  margin: 0 auto;
  /* border: 1px dotted red; */
  box-sizing: border-box;
  padding: 0px auto;
}

p {
  /*   font-family: "Josefin Sans", sans-serif; */
  font-size: 15px;
}

.bigger {
  font-size: 20px;
}

mark {
  font-weight: 600;
  background: none;
  color: white;
}

time {
  color: lightgoldenrodyellow;
}

blockquote::before {
  color: white;
  content: "“";
  font-family: inherit;
  position: absolute;
  top: 0px;
  left: -2px;
  font-size: 150px;
  line-height: 0.8em;
}

blockquote {
  box-sizing: border-box;
  position: relative;
  color: white;
  background: #222;
  font-size: 48px;
  font-family: "Abril Fatface", cursive;
  line-height: 1.2em;
  text-align: left;
  width: 800px;
  /*   height: 165px; */
  padding: 45px 0px 45px 50px;
  margin: 60px -50px;
  background: url("../img/deathstar.jpg") no-repeat center;
}

h3 {
  /*   display: block; */
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

h4 {
  /*   display: block; */
  font-size: 21px;
  margin-bottom: 0px;
  /*   line-height: 0.02em; */
}

section {
  /* border: 1px dotted greenyellow; */
}

article {
  /* background: rgba(100, 0, 0, 0.4); */
}

em {
  font-size: 15px;
  font-family: "Merriweather", serif;
  /*   line-height: 0.3em; */
  /*   margin-top: 0; */
}

.bigger-list > li {
  font-size: 1em;
  list-style-type: square;
}

li {
  font-size: 0.85em;
  list-style-type: square;
}

hr {
  height: 4px;
  border: 0px;
  background: grey;
  margin: 60px auto;
}
